<div class="container">

  <form class="row mt-3 mb-3 g-3 align-items-center justify-content-center">
    <div class="col-sm-6">
      <input type="text" class="form-control" id="newWishText" name="newWishText" value="type here" [(ngModel)]="newWishText">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary" (click)="$event.preventDefault; addNewWish()">Add</button>
    </div>
  </form>

  <!-- filter wish -->
  <div class="row mt-3 mb-3 align-items-center">
    <div class="col-sm-3">
      Filter Wishes
    </div>
    <div class="col-sm-3">
      <select class="form-select" id="" [(ngModel)]="listFilter" (ngModelChange)="filterChanged($event)" >
        <option value="0">All</option>
        <option value="1">Unfulfilled</option>
        <option value="2">Fulfilled</option>
      </select>
    </div>
  </div>

  <div *ngIf="visibleItems.length === 0 ; else showItems">
    There are no wishes to display..
  </div>

  <ng-template #showItems>
    <ul class="wish-list">
      <li *ngFor="let item of visibleItems; index as ii">
        <div class="form-check">
          <label class="form-check-label" for="">
            <input type="checkbox" 
            [checked]="item.isComplete"
            [attr.data-index]="ii"
            (click)="toggleItem(item)"
            >  {{ item.wishText }}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

</div>